// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;


}

//mixins

.column() {
	display       : flex;
	flex-direction: column;
}

.row() {
	display       : flex;
	flex-direction: row;
}

.center() {
	justify-content: center;
	align-items    : center;

}



//mixins-end

@fsize : 2rem;
@font  : 'Montserrat', sans-serif;
@midgrey : #262525;
@midcolor: white;
@mobile  : 504px;
@spacing : 50px;
//variables-end




.container {


	a {
		text-decoration-line: none;
		color               : @midgrey;
		font-size           : 1rem;
		font-weight         : 900;
	}

	max-width: 800px;
	margin   : 0 auto;

	h1 {
		font-size: @fsize;
	}

	h2 {
		font-size: 1.5rem;
	}

	header {

		@media (max-width: @mobile) {
			.center;

		}

		nav {

			margin-top     : 10px;
			width          : 75%;
			display        : flex;
			flex-direction : wrap;
			justify-content: space-between;

		}

		.row;
		height         : 100px;
		background     : lightgrey;
		justify-content: space-between;



		.title {
			.column;
			width: 70%;
			.center;
			font-family: @font;


		}



		.logo-div {
			@media (max-width: @mobile) {

				display: none;
			}



			.column;
			width     : 30%;
			background: @midgrey;

			justify-content: flex-end;
			align-items    : center;

			.logo {
				width: 40%;
			}
		}
	}

	//end header



	.mid-container {

		@media  (max-width: @mobile) {
			.center;
			display: flex;

			flex-direction: column;


		}

		color          :white;
		display        : flex;
		justify-content: space-between;


		.left-content {
			@media (max-width: @mobile) {
				width: 80%;
			}

			line-height: 1.3;
			.center;
			padding-top:@spacing;
			.column;
			background: @midgrey;

			justify-content: space-around;
			width          : 30%;


			.contact-form {

				width         : 70%;
				padding-bottom: @spacing;
			}

			.skills {
				text-align: center;
				width     : 80%;

				h2 {

					padding: 5% 1%;
				}
			}



		}

		//left-content end


		.main-content {

			.center;
			margin-top: @spacing;


			.column;
			text-align     : center;
			justify-content: space-evenly;
			color          : black;
			width          : 70%;


			.intro {
				font-family: 'Anton', sans-serif;
				line-height: 2;
				width      : 75%;
			}

			img {
				margin-top: @spacing;
				width     : 20%;
			}

			p {
				margin-top: @spacing;
			}
		}

		//main-content end
		.contact {


			h2 {
				text-align: center;
			}

			.btn-lg-white {
				color     : @midgrey;
				background: white;
				border    : none;
				padding   : 5px 20px;


			}

			margin-top:@spacing;
		}

		.work-history {
			
			width:90%;
			margin-top: @spacing;
			table{
				border:1px solid @midgrey;
				
			}
  td,th {
			padding:10px 10px;
			font-family: 'Montserrat',sans-serif;
			
		}
   tr:nth-child(even) {
				background-color: #dddddd;
			
				
		}
   h2{
				font-family: 'Anton', sans-serif;
				padding:20px 0;
			}
			ul {
				width:100%;
				margin-top: @spacing;

				li {
					width:100%;
					
					list-style-type: circle;
					padding-top    : @spacing;
				}
			}

		}

		//work-historyend
	}

	//mid-container end



}

//container end